In [3]:
import pandas as pd

In [32]:
from datetime import datetime

In [69]:
filename = "execution_time_main_SODA_1.csv"

In [84]:
%%time
df = pd.read_csv(filename, names=['func', 'mode', 'gra', 'time'])

Wall time: 89.3 ms

In [85]:
df = df.sort_values('time', ascending=False)

In [86]:
df

                               func       mode  gra             time
0      ChessBoard_online_projection   Evolving    4   0:06:14.186613
1           Chessboard_online_merge   Evolving    5   0:01:30.282495
2      ChessBoard_online_projection   Evolving    3   0:01:28.586554
3           Chessboard_online_merge   Evolving    5   0:01:28.522323
4           Chessboard_online_merge   Evolving    5   0:01:28.133683
...                             ...        ...  ...              ...
62923          data_standardization   Evolving    2   0:00:00.000030
62924          data_standardization   Evolving    3   0:00:00.000023
62925          data_standardization   Evolving    4   0:00:00.000010
62926          data_standardization   Evolving    2   0:00:00.000010
62927          data_standardization   Evolving    4   0:00:00.000007

[62928 rows x 4 columns]

In [87]:
df[df['func'] == 'Chessboard_online_merge']

                          func       mode  gra             time
1      Chessboard_online_merge   Evolving    5   0:01:30.282495
3      Chessboard_online_merge   Evolving    5   0:01:28.522323
4      Chessboard_online_merge   Evolving    5   0:01:28.133683
5      Chessboard_online_merge   Evolving    5   0:01:26.886952
6      Chessboard_online_merge   Evolving    5   0:01:26.337891
...                        ...        ...  ...              ...
58893  Chessboard_online_merge   Evolving    1   0:00:00.001393
58895  Chessboard_online_merge   Evolving    1   0:00:00.001315
58896  Chessboard_online_merge   Evolving    1   0:00:00.001272
58898  Chessboard_online_merge   Evolving    1   0:00:00.001229
58907  Chessboard_online_merge   Evolving    1   0:00:00.001058

[29441 rows x 4 columns]

In [88]:
df[df['func'] == 'data_standardization']

                       func       mode  gra             time
45122  data_standardization   Evolving    5   0:00:00.015623
45120  data_standardization   Evolving    4   0:00:00.015623
45144  data_standardization   Evolving    5   0:00:00.015622
45143  data_standardization   Evolving    5   0:00:00.015622
45141  data_standardization   Evolving    5   0:00:00.015622
...                     ...        ...  ...              ...
62923  data_standardization   Evolving    2   0:00:00.000030
62924  data_standardization   Evolving    3   0:00:00.000023
62925  data_standardization   Evolving    4   0:00:00.000010
62926  data_standardization   Evolving    2   0:00:00.000010
62927  data_standardization   Evolving    4   0:00:00.000007

[4026 rows x 4 columns]

In [89]:
df[df['gra'] == 5]

                          func       mode  gra             time
1      Chessboard_online_merge   Evolving    5   0:01:30.282495
3      Chessboard_online_merge   Evolving    5   0:01:28.522323
4      Chessboard_online_merge   Evolving    5   0:01:28.133683
5      Chessboard_online_merge   Evolving    5   0:01:26.886952
6      Chessboard_online_merge   Evolving    5   0:01:26.337891
...                        ...        ...  ...              ...
62890     data_standardization   Evolving    5   0:00:00.000738
62899     data_standardization   Evolving    5   0:00:00.000531
62901     data_standardization   Evolving    5   0:00:00.000511
62904     data_standardization   Evolving    5   0:00:00.000423
62906     data_standardization   Evolving    5   0:00:00.000114

[11139 rows x 4 columns]

In [90]:
df.head(10)

                           func       mode  gra             time
0  ChessBoard_online_projection   Evolving    4   0:06:14.186613
1       Chessboard_online_merge   Evolving    5   0:01:30.282495
2  ChessBoard_online_projection   Evolving    3   0:01:28.586554
3       Chessboard_online_merge   Evolving    5   0:01:28.522323
4       Chessboard_online_merge   Evolving    5   0:01:28.133683
5       Chessboard_online_merge   Evolving    5   0:01:26.886952
6       Chessboard_online_merge   Evolving    5   0:01:26.337891
7       Chessboard_online_merge   Evolving    5   0:01:21.051765
8       Chessboard_online_merge   Evolving    5   0:01:20.088656
9       Chessboard_online_merge   Evolving    5   0:01:16.793970

In [91]:
df.tail(30)

                             func       mode  gra             time
62898        data_standardization   Evolving    2   0:00:00.000532
62899        data_standardization   Evolving    5   0:00:00.000531
62900        data_standardization   Evolving    2   0:00:00.000511
62901        data_standardization   Evolving    5   0:00:00.000511
62902        data_standardization   Evolving    2   0:00:00.000504
62903        data_standardization   Evolving    2   0:00:00.000503
62904        data_standardization   Evolving    5   0:00:00.000423
62905  Chessboard_online_division   Evolving    1   0:00:00.000170
62906        data_standardization   Evolving    5   0:00:00.000114
62907        data_standardization   Evolving    2   0:00:00.000078
62908        data_standardization   Evolving    2   0:00:00.000077
62909        data_standardization   Evolving    4   0:00:00.000060
62910        data_standardization   Evolving    4   0:00:00.000059
62911        data_standardization   Evolving    2   0:00:00.000059
62912        data_standardization   Evolving    2   0:00:00.000056
62913        data_standardization   Evolving    2   0:00:00.000055
62914        data_standardization   Evolving    2   0:00:00.000054
62915        data_standardization   Evolving    2   0:00:00.000047
62916        data_standardization   Evolving    2   0:00:00.000045
62917        data_standardization   Evolving    2   0:00:00.000042
62918        data_standardization   Evolving    2   0:00:00.000042
62919        data_standardization   Evolving    2   0:00:00.000041
62920        data_standardization   Evolving    2   0:00:00.000040
62921        data_standardization   Evolving    4   0:00:00.000038
62922        data_standardization   Evolving    2   0:00:00.000038
62923        data_standardization   Evolving    2   0:00:00.000030
62924        data_standardization   Evolving    3   0:00:00.000023
62925        data_standardization   Evolving    4   0:00:00.000010
62926        data_standardization   Evolving    2   0:00:00.000010
62927        data_standardization   Evolving    4   0:00:00.000007

In [92]:
df.to_csv(filename, index=False, header=False)

In [93]:
df["Time_s"] = df["time"].apply(lambda x: datetime.strptime(x," %H:%M:%S.%f").time())

In [97]:
df

,func,mode,gra,time,Time_s
0,ChessBoard_online_projection,Evolving,4,0:06:14.186613,00:06:14.186613
1,Chessboard_online_merge,Evolving,5,0:01:30.282495,00:01:30.282495
2,ChessBoard_online_projection,Evolving,3,0:01:28.586554,00:01:28.586554
3,Chessboard_online_merge,Evolving,5,0:01:28.522323,00:01:28.522323
4,Chessboard_online_merge,Evolving,5,0:01:28.133683,00:01:28.133683
...,...,...,...,...,...
62923,data_standardization,Evolving,2,0:00:00.000030,00:00:00.000030
62924,data_standardization,Evolving,3,0:00:00.000023,00:00:00.000023
62925,data_standardization,Evolving,4,0:00:00.000010,00:00:00.000010
62926,data_standardization,Evolving,2,0:00:00.000010,00:00:00.000010
62927,data_standardization,Evolving,4,0:00:00.000007,00:00:00.000007

In [101]:
for i in range(df.shape[0]):
    df.loc[i,'Time_s'] = ((df.loc[i,'Time_s'].hour*60 + df.loc[i,'Time_s'].minute)*60 + df.loc[i,'Time_s'].second) + df.loc[i,'Time_s'].microsecond/1000000

In [111]:
df3 = df.groupby(['gra', 'func']).sum()

In [112]:
df3 = df3.drop(['mode', 'time'],1)

In [122]:
df3.loc[4].sort_values('Time_s', ascending=False)

                                     Time_s
func
Chessboard_online_merge        21784.975832
Chessboard_online_division       774.553672
ChessBoard_online_projection     374.186613
ChessBoard_PeakIdentification     27.787271
cloud_member_recruitment           9.595707
chessboard_division_njit           9.055411
cloud_member_recruitment_njit      7.981647
data_standardization               0.930590
Globaldensity_Calculator           0.115107
Chessboard_globaldensity           0.031208
grid_set                           0.006906

### Execution Time

In [24]:
%%time
filename2 = "execution_time.csv"
df2 = pd.read_csv(filename2, names=['func', 'func2', 'time'])

Wall time: 8.71 s

In [25]:

df2 = df2.sort_values('time', ascending=False)

In [26]:
df2

                                   func           func2             time
0               Chessboard_online_merge    cdist cosine   0:00:01.467015
1              Globaldensity_Calculator   pi_calculator   0:00:00.281189
2         ChessBoard_PeakIdentification    pdist cosine   0:00:00.124970
3         ChessBoard_PeakIdentification           pdist   0:00:00.109355
4               Chessboard_online_merge    cdist cosine   0:00:00.100731
...                                 ...             ...              ...
22071677        Chessboard_online_merge           cdist   0:00:00.000004
22071675        Chessboard_online_merge           cdist   0:00:00.000004
22071674        Chessboard_online_merge           cdist   0:00:00.000004
22071673        Chessboard_online_merge           cdist   0:00:00.000004
22071690        Chessboard_online_merge    cdist cosine   0:00:00.000001

[22071691 rows x 3 columns]

In [27]:
df2.head(30)

                             func           func2             time
0         Chessboard_online_merge    cdist cosine   0:00:01.467015
1        Globaldensity_Calculator   pi_calculator   0:00:00.281189
2   ChessBoard_PeakIdentification    pdist cosine   0:00:00.124970
3   ChessBoard_PeakIdentification           pdist   0:00:00.109355
4         Chessboard_online_merge    cdist cosine   0:00:00.100731
5   ChessBoard_PeakIdentification    pdist cosine   0:00:00.095745
6         Chessboard_online_merge    cdist cosine   0:00:00.085765
7   ChessBoard_PeakIdentification           pdist   0:00:00.078836
8        Globaldensity_Calculator   pi_calculator   0:00:00.067850
9         Chessboard_online_merge           cdist   0:00:00.067818
10       Globaldensity_Calculator   pi_calculator   0:00:00.061835
11        Chessboard_online_merge           cdist   0:00:00.054860
12       Globaldensity_Calculator   pi_calculator   0:00:00.054851
13       Globaldensity_Calculator   pi_calculator   0:00:00.053857
14        Chessboard_online_merge    cdist cosine   0:00:00.050864
15        Chessboard_online_merge           cdist   0:00:00.046834
16        Chessboard_online_merge           cdist   0:00:00.043883
17        Chessboard_online_merge    cdist cosine   0:00:00.042885
18        Chessboard_online_merge           cdist   0:00:00.042885
19       Globaldensity_Calculator   pi_calculator   0:00:00.042300
20        Chessboard_online_merge           cdist   0:00:00.041887
21        Chessboard_online_merge           cdist   0:00:00.040900
22     Chessboard_online_division           pdist   0:00:00.040895
23        Chessboard_online_merge    cdist cosine   0:00:00.040890
24        Chessboard_online_merge           cdist   0:00:00.040412
25        Chessboard_online_merge    cdist cosine   0:00:00.040408
26        Chessboard_online_merge           cdist   0:00:00.039895
27        Chessboard_online_merge    cdist cosine   0:00:00.039893
28        Chessboard_online_merge           cdist   0:00:00.038896
29        Chessboard_online_merge    cdist cosine   0:00:00.038896

In [28]:
df2.to_csv(filename2, index=False, header=False)