In [34]:
import pandas as pd

In [45]:
sizes = [500, 1000, 2500, 5000, 7500, 10000, 20000, 30000, 40000, 50000, 75000, 100000, 150000, 200000, 250000, 300000, 400000, 500000, 543501]

cuda_list = ['0:00:13.076836', 
           '0:00:28.212268', 
           '0:01:45.887484', 
           '0:07:33.572493', 
           '0:14:21.588100', 
           '0:22:02.733856', 
           '1:47:06.535069',
           '2:55:39.732087',
           '4:16:27.509106',
           '8:46:29.699929',
           '15:38:54.827023']
df = pd.DataFrame(columns=['Events', 'Time w/ Cuda', 'Time w/o Cuda'])

for i in range(len(sizes)):
    try:
        cuda = cuda_list[i]
    except:
        cuda = None
    try:
        df2 = pd.read_csv(r'C:\Users\mathe\Downloads\Anomaly_Detection-multiprocessing_map\results\performance_info_raw_1_{}.csv'.format(i))
        normal = str(df2['Time_Elapsed'].item())
    except:
        normal = None
        
    df.loc[sizes[i]] = [sizes[i], cuda, normal]

In [46]:
df

        Events     Time w/ Cuda   Time w/o Cuda
500        500   0:00:13.076836  0:00:01.012054
1000      1000   0:00:28.212268  0:00:02.040024
2500      2500   0:01:45.887484  0:00:04.087961
5000      5000   0:07:33.572493  0:00:10.137184
7500      7500   0:14:21.588100  0:00:16.345691
10000    10000   0:22:02.733856  0:00:22.261125
20000    20000   1:47:06.535069  0:01:01.805344
30000    30000   2:55:39.732087  0:01:45.805966
40000    40000   4:16:27.509106  0:02:49.525452
50000    50000   8:46:29.699929  0:04:03.808997
75000    75000  15:38:54.827023  0:07:30.408845
100000  100000             None  0:10:12.306381
150000  150000             None  0:15:45.687089
200000  200000             None  0:00:58.452546
250000  250000             None  0:35:33.665263
300000  300000             None  0:43:47.422863
400000  400000             None  1:20:45.825857
500000  500000             None  1:39:26.682543
543501  543501             None  3:38:23.453167

In [47]:
df.to_csv('resultados.csv')